<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">

        <div class="col-12 xl:col-6" style="padding:0.3rem">

            <div class="h-full w-full m-0 py-7 px-4 shadow-4" style="border-radius:5px;">
                <div class="text-center mb-5">
                    <div class="text-900 text-2xl font-medium mb-3">Welcome, back!</div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>

                <div class="w-full md:w-10 mx-auto">

                    <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">

                        <div class="mb-3">

                            <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                            <input id="email" type="text" formControlName="email" pInputText class="w-full p-3">

                            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.dirty" [@inputErrorAnimation]="" class="mt-2">

                                <div *ngIf="loginForm.get('email')?.errors?.['required']" class="p-error">
                                    Please entry your email
                                </div>

                                <div *ngIf="loginForm.get('email')?.errors?.['email']" class="p-error">
                                    Invalid email address
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">

                            <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>
                            <p-password id="password" formControlName="password" [toggleMask]="true" styleClass="w-full password-input-custom" [feedback]="false"></p-password>

                            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty" class="mt-2" [@inputErrorAnimation]="">

                                <div *ngIf="loginForm.get('password')?.errors?.['required']" class="p-error">
                                    Please entry your password
                                </div>

                            </div>
                        </div>

                        <div class="mb-3 p-error" *ngIf="responseError" [@inputErrorAnimation]="">
                            {{ responseError }}
                        </div>

                        <div class="flex align-items-center justify-content-between mb-5">
                            <div class="flex align-items-center">
                                <p-checkbox id="remember" formControlName="remember" label="Remember me" [binary]="true" styleClass="mr-2"></p-checkbox>
                            </div>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer p-disabled" style="color: var(--primary-color)">Forgot password?</a>
                        </div>

                        <button pButton pRipple type="submit" [disabled]="loginForm.invalid" label="Login" class="w-full p-3 text-xl"></button>

                        <div class="mt-3 mb-4">
                            <p>Don't have an account? <a routerLink="/auth/register">Sign up</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
