<div>
    <div class="text-900 text-2xl font-medium mb-3">Personal information</div>
    <p-divider></p-divider>

    <form [formGroup]="personalForm" (ngSubmit)="nextPage()">

        <div class="mb-3">

            <label for="firstname" class="block text-900 text-x font-medium mb-2">Firstname</label>
            <input id="firstname" formControlName="firstname" type="text" pInputText class="w-full p-3">

            <div *ngIf="personalForm.get('firstname')?.invalid && personalForm.get('firstname')?.dirty" class="mt-2" [@inputErrorAnimation]="">

                <div *ngIf="personalForm.get('firstname')?.errors?.['required']" class="p-error">
                    Firstname is required
                </div>

            </div>

        </div>

        <div class="mb-3">

            <label for="lastname" class="block text-900 text-x font-medium mb-2">Lastname</label>
            <input id="lastname" formControlName="lastname" type="text" pInputText class="w-full p-3">

            <div *ngIf="personalForm.get('lastname')?.invalid && personalForm.get('lastname')?.dirty" class="mt-2" [@inputErrorAnimation]="">

                <div *ngIf="personalForm.get('lastname')?.errors?.['required']" class="p-error">
                    Lastname is required
                </div>

            </div>

        </div>

        <div class="mb-3">

            <label for="username" class="block text-900 text-x font-medium mb-2">Username</label>
            <input id="username" formControlName="username" type="text" pInputText class="w-full p-3">

            <div *ngIf="personalForm.get('username')?.invalid && personalForm.get('username')?.dirty" class="mt-2" [@inputErrorAnimation]="">

                <div *ngIf="personalForm.get('username')?.errors?.['required']" class="p-error">
                    Username is required
                </div>

            </div>

        </div>

        <button pButton pRipple type="submit" [disabled]="personalForm.invalid" label="Continue" class="w-full p-3 text-xl"></button>

    </form>
</div>
