<div>

    <div class="text-900 text-2xl font-medium mb-3">Password information</div>
    <p-divider></p-divider>

    <form [formGroup]="passwordForm" (ngSubmit)="completeRegistration()">

        <div class="mb-3">

            <label for="password" class="block text-900 font-medium text-x mb-2">Password</label>
            <p-password id="password" formControlName="password" [toggleMask]="true" styleClass="w-full"></p-password>

            <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.dirty" class="mt-2">

                <div *ngIf="passwordForm.get('password')?.errors?.['required']" class="p-error">
                    Password is required
                </div>

            </div>

        </div>

        <button pButton pRipple type="submit" [disabled]="passwordForm.invalid" label="Continue" class="w-full p-3 text-xl"></button>

    </form>


</div>


