<div>

    <div class="text-900 text-2xl font-medium mb-3">Set up authentication</div>
    <p-divider></p-divider>

    <form *ngIf="passwordForm" [formGroup]="passwordForm" (ngSubmit)="completeRegistration()">

        <div class="mb-3">

            <label for="password" class="block text-900 font-medium text-x mb-2">Password</label>
            <p-password id="password" (keyup)="validatePasswordStrength()" formControlName="password" [toggleMask]="true" [feedback]="false" styleClass="w-full password-input-custom"></p-password>

            <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.dirty" class="mt-2" [@inputErrorAnimation]="">

                <div *ngIf="passwordForm.get('password')?.errors?.['required']" class="p-error">
                    Please enter a password
                </div>

            </div>

        </div>

        <div class="mb-3 mt-5">

            <p-progressBar [value]="progressValue" [showValue]="false" [ngClass]="backgroundColor" ></p-progressBar>

            <div class="text-900 font-medium mt-2">{{ this.progressLabel }}</div>

            <div class="mt-3">

                <li *ngFor="let item of this.passwordStrength" class="p-2 list-password-strength">
                    <i [ngClass]="item.icon + ' ' + item.class" class="pi mr-2 vertical-align-middle" ></i>
                    <span class="font-medium">{{item.text}}</span>
                </li>

            </div>

            <div class="mt-2 mb-3 p-error" *ngIf="backendResponse"  [@inputErrorAnimation]="">
                {{ backendResponseMessage }}
            </div>

        </div>

        <button pButton pRipple type="submit" [disabled]="passwordForm.invalid || validateRegex()" label="Create account" class="w-full p-3 text-xl"></button>

    </form>


</div>


