<div>

    <div class="text-900 text-2xl font-medium mb-3">Contact information</div>
    <p-divider></p-divider>

    <form *ngIf="emailForm" [formGroup]="emailForm" (ngSubmit)="nextPage()">

        <div class="mb-3">

            <label for="email" class="block text-900 text-x font-medium mb-2">Email</label>
            <input id="email" autocomplete="email" formControlName="email" (keyup)="disableVerification()" type="text"  pInputText class="w-full p-3">

            <div *ngIf="this.emailForm.get('email')?.invalid && this.emailForm.get('email')?.dirty" class="mt-2" [@inputErrorAnimation]="">

                <div *ngIf="this.emailForm.get('email')?.errors?.['required']" class="p-error">
                    Please enter your email
                </div>

                <div *ngIf="this.emailForm.get('email')?.errors?.['email']" class="p-error">
                    Email format is invalid
                </div>

            </div>

        </div>

        <div class="mb-3">
            <p>You need to verify you email before continue. <a (click)="verifyEmail()" [ngClass]="resendLinkClass">Verify email</a></p>
        </div>

        <div class="mt-2 mb-3 p-error" *ngIf="verifyValidation" [@inputErrorAnimation]="">
            {{ verifyValidationMessage }}
        </div>

        <div *ngIf="verifyCodeForm" class="mb-4">

            <p-divider></p-divider>

            <p>Please look at your inbox at <strong>{{ this.userEmail }}</strong> and insert the verification code. Maybe it's in the smap folder.</p>

            <p>Or you can <a (click)="verifyEmail()" [ngClass]="resendLinkClass" >resend email</a><countdown #cd [config]="config"></countdown></p>

            <form *ngIf="verificationCodeForm" [formGroup]="verificationCodeForm">
                <label for="code" class="block text-900 text-x font-medium mb-2">Verification code</label>
                <input id="code" autocomplete="off" type="number" formControlName="code" pInputText class="w-full p-3">

                <div *ngIf="verificationCodeForm.get('code')?.invalid && verificationCodeForm.get('code')?.dirty" class="mt-2"  [@inputErrorAnimation]="">

                    <div *ngIf="verificationCodeForm.get('code')?.errors?.['required']" class="p-error">
                        Please enter a valid verification code
                    </div>

                </div>

                <div class="mt-2 mb-3 p-error" *ngIf="verifyCodeValidation"  [@inputErrorAnimation]="">
                    {{ verifyCodeMessage }}
                </div>
            </form>
        </div>

        <div class="mt-2 mb-3" *ngIf="successMessage"  [@inputErrorAnimation]="">
            <i class="pi pi-check success-icon"></i> Email successfully verified
        </div>

        <button pButton pRipple type="submit" [disabled]="!emailVerified && (emailForm.invalid || verificationCodeForm.invalid)" label="Continue" class="w-full p-3 text-xl"></button>

    </form>
</div>



