/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Code Highlight */
@import "../node_modules/prismjs/themes/prism-coy.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";

/* Logo font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&display=swap');

.text-logo {
    font-family: 'Oswald', sans-serif;
}


/* Custom Theme */

*:focus {
    outline: 0;
    box-shadow: unset !important;
}

a:hover {
    cursor: pointer;
}

.password-input-custom {
    position: relative;
    display: inline-block;

    input[type="password"] {
        width: 100%;
        padding: 1rem;
    }

    i.pi-eye {
        position: absolute;
        right: 0.75rem;
        top: 50%;
        margin-top: -0.5rem;

        &:hover {
            cursor: pointer;
        }

    }

    i.pi-eye-slash {

        &:hover {
            cursor: pointer;
        }

    }

}

.logout-button a span {
    color: #e24c4c !important;
}

.list-password-strength {
    list-style: none;

    i {
        font-size: 18px;
        position: relative;
        bottom: 1px;
    }

    .red {
        color: #e24c4c;
    }

    .green {
        color: #1ea97c;
    }

}

.disabled-link {
    opacity: 0.6;

    &:hover {
        cursor: not-allowed;
    }
}

.success-icon {
    color: #1ea97c;
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

.layout-topbar-menu i {
    color: var(--primary-color)
}

/* Panel css page */

.panel-page {

    .title {
        margin-left: 66px;
    }

    .card-container {
        box-sizing: border-box;
        min-width: 0;
        overflow-y: auto;
        -webkit-box-pack: center;
        justify-content: center;
        margin-left: 16px;
        padding-bottom: 32px;
        padding-top: 8px;
        grid-template-columns: repeat(auto-fill, 180px);
        gap: 24px;
        display: grid;
    }


    .project-card {
        transition: all 0.3s ease 0s;
        width: 180px;

        .card-header {
            box-sizing: border-box;
            background-color: rgb(9, 14, 36);
            font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
            font-size: 62px;
            font-weight: 500;
            width: 180px;
            height: 180px;
            line-height: 180px;
            min-height: 180px;
            min-width: 180px;
            text-align: center;
            border-radius: 8px 8px 0px 0px;
            color: rgb(255, 255, 255);
            letter-spacing: -4px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .p-card-content {
            padding: 0;
            min-height: 4em;

            h2 {
                text-overflow: ellipsis;
                white-space: initial;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 15px;
                line-height: 18px;
            }
        }

        &:hover {
            cursor: pointer;
            transform: translate3d(0px, -4px, 0px);
        }

    }

    .no-project-card {

        .content {
            min-width: 500px;
        }

        @media (max-width: 600px) {
            .content {
                min-width: auto;
            }
        }



    }
}

.container {
    max-width: 960px;
    min-width: 0;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
}


